@using ITIProject.Organization.ViewModels

@model IEnumerable<StudentViewModel>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get</title>
</head>
<body>
    <div>
    </div>
</body>
</html>


<h2>Get</h2>

